@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@font-face {
    font-family: "Raleway";
    src: local("Raleway"),
    url(./fonts/Raleway-Regular.ttf) format("truetype"),
    url(./fonts/Raleway-MediumItalic.ttf) format("truetype")
    url(./fonts/Raleway-Bold.ttf) format("truetype")
}
h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
h2{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

h3{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

dt{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
}

dd{
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
}
dl{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
}
li{
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
}
p{
    font-family: 'Raleway',sans-serif;
    font-weight: 400;

    text-indent: 50px;
    text-align: justify;
}
a{
    font-family: 'Raleway',sans-serif;

    text-decoration: none;
    color: white;
}
.container__side ul,p{
    color: white;
}